main{
    display:flex;
    flex-direction: row;
}
main >.section-background{
    height:100%;
}
section>.section-header{
    margin-top:10rem;
}
section >.section-header,
section >.signup-form{
    margin-left:3rem;
}
.form-row > input{
    width:20rem;
}
.form-row {
    display:flex;
    flex-direction: column;
}
.form-row > input {
    margin-bottom:1rem;
}